.about-container {  
  margin: auto;
  padding: 30px;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 11px 16px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  font-family: 'Georgia', serif;
  line-height: 1.8;
  text-align: justify;
}

.about-container h2 {
  text-align: center;
  color: #111;
  font-size: 28px;
  margin-bottom: 20px;
}
.about-page {
  background-image: url('/public/images/back1.jpg');
  background-size: cover;
  background-position: center; 
  background-attachment: fixed; 
  height: 85vh; 
  width: 100%;
}
