.navbar {
    display: flex;
    justify-content: space-between; /* Равномерное распределение элементов */
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    height: 80px; /* Фиксированная высота для Navbar */
    box-sizing: border-box;
}


.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-logo {
    margin-right: 15px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.navbar-logo a {
    color: white;
    text-decoration: none;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-links a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.navbar-search {
    display: flex;
    align-items: center;
}

.navbar-search input {
    padding: 5px;
    margin-right: 10px;
}

.submit-button {
    margin-left: 10px; /* Немного отступа между логотипом и кнопкой */
}

.search-button   {
    margin-left: 1px;
    margin-top: 5px;
    background-color: #fad400;
    
    
}
.search-button:hover {
    background-color: #ffd900;
    color: white;
}

.search-button:active {
    background-color: #fcc100; /* Более темный зеленый цвет */
    color: white;
}
.navbar-logo img {
    max-height: 85px; /* Максимальная высота изображения */
    width: auto; /* Сохранение пропорций изображения */
}